:root{
    --primary:#4f46e5;
    --primary-light:#6366f1;

    --success:#10b981;
    --warning:#f59e0b;
    --danger:#ef4444;

    --background:#f8fafc;
    --card:#ffffff;

    --text:#0f172a;
    --muted:#64748b;
}